@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;600&display=swap");
html,
body,
#root {
  padding: 0;
  margin: 0;
  height: 100vh;
}

body {
  font-family: "Epilogue", sans-serif;
}
