@use "~bootstrap/scss/bootstrap";

@use "scss/colors";
@use "scss/fonts";

html,
body,
#root {
	margin: 0;
	height: 100%;
}

body {
	font-family: fonts.$primary;
	background-color: colors.$primary;
}
