@import "scss/colors";

@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;600&display=swap");

html,
body,
#root {
	margin: 0;
	height: 100%;
}

body {
	font-family: "Epilogue", sans-serif;
	background-color: $color-dark;
}
