@use "scss/colors";

#controls {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	max-width: 487px;
	justify-content: center;
	padding: 1rem;

	form {
		width: 100%;
		max-height: 100%;
	}
}

#username:focus {
	border-color: colors.$accent;
	box-shadow: 0 0 0 0.1rem rgba(colors.$accent, 0.25);
}

.rdrMonths,
.rdrCalendarWrapper,
.rdrDateRangePickerWrapper {
	width: 100%;
}

.rdrDateRangePickerWrapper {
	border: solid 1px #eff2f7;
	border-radius: 0.25rem;
}

.datePickerContainer {
	min-height: 382px;
}

.rdrInputRanges {
	padding: 0 !important;
}

@media (max-width: 487px) {
	.rdrDateRangePickerWrapper {
		// other overrides
		flex-direction: column;
		//border: none;
	}

	.rdrMonth,
	.rdrDefinedRangesWrapper {
		margin: auto;
	}

	.rdrDefinedRangesWrapper {
		width: 100% !important;
	}

	.rdrStaticRangeLabel {
		text-align: center !important;
	}

	// .form-group {
	// 	margin: 0 !important;
	// }

	// .btn,
	// .form-control {
	// 	border-radius: 0 !important;
	// }
}
