@import "scss/colors";
nav {
    text-decoration: none;
    color: #fff;
    flex-direction: column;
    text-align: center;
    line-height: normal;
}

nav a {
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    text-decoration: none;
    color: $color-red;
}

.buymeacoffee-button img {
    max-height: 3rem;
}

@media screen and (max-width: 992px) {
    #desktop-footer {
        display: none;
    }
}

@media only screen and (min-width: 992px) {
    #mobile-footer {
        display: none;
    }
}