@use "scss/colors";
@use "scss/animation";

header {
	position: relative;

	min-height: 4rem;

	text-align: center;

	background-color: colors.$primary;

	.logo {
		max-height: 100%;
		padding: 0.5rem;

		&:hover {
			animation: color-rotate 3s linear 0s infinite none;
		}
	}
}

#showControl {
	height: 100% !important;

	&:focus {
		outline: 0 !important;
	}
}
