@import "scss/colors";
.navbar-brand {
    max-height: 38px;
    display: flex;
    justify-content: center;
    left: 0;
}

.navbar {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 768px) {
    #basic-navbar-nav {
        margin-top: 1%;
    }
}