@use "scss/colors";

.progress-container {
	height: 1.5rem;
	width: 100%;
	background-color: colors.$secondary;
}

.progress-container .progress-bar {
	color: colors.$primary-font;
	background-color: colors.$accent;
	transition: width 4s;
}
