@use "./measures";

:export {
	headerHeight: measures.$header-height;
	footerMaxHeight: measures.$footer-max-height;
	appMinHeight: measures.$app-min-height;
	mainMaxWidth: measures.$main-max-width;
}
