body {
    font-family: 'Epilogue', sans-serif;
}

#mainContent {
    margin: 1%;
}

#csvContainer {
    width: 30%;
}

#apiContainer {
    width: 30%;
}

.tableDiv {
    height: 750px;
    overflow: auto;
    cursor: pointer;
}

thead th {
    position: sticky;
    top: 0;
}

.page-footer {
    background-color: #337ab7;
    border-color: #337ab7;
    color: #FFFFFF;
}