body {
    font-family: 'Epilogue', sans-serif;
}

#mainContent {
    margin: 1%;
}

#csvContainer {
    width: 30%;
}

#apiContainer {
    width: 30%;
}

.tableDiv {
    height: 750px;
    overflow: auto;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: red;
}

thead th {
    position: sticky;
    top: 0;
}


/* center logo in navbar*/

.navbar-brand {
    display: block;
    margin: auto;
}