table-container {
  overflow-y: scroll;
  height: 100%;
  margin: auto;
}

.table-container {
  overflow-y: scroll;
  height: 100%;
}

.table {
  display: table;
  width: 100%;
  border-collapse: collapse;
}

.table-header {
  display: table-header-group;
  position: sticky;
  top: 0;
  background-color: #343a40;
  color: #fff;
  width: 100%;
  height: 3rem;
}

.table-row {
  display: table-row;
  height: 3rem;
  border-bottom: 0.2rem solid #000;
  text-decoration: none;
  color: #000;
}

.table-row:hover {
  background-color: #888;
  color: #fff;
}
.table-cell {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}
